<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="color:blueviolet">
    Welcome to CRUD operation tutorial by DotNet Techy
    <br>
    Front End- Angular7
    <br>
    Back  End- Web API
    <br>
    Cloud Hosting- Azure
  </h1>
  <ngx-toasta></ngx-toasta>
  
</div>
<div class="row">
  <div class="col-md-6">

    <div class="card">
      <div class="card-header">
        Create
      </div>
      <div class="card-body">
        <form [formGroup]="insertForm">
        <table class="table table-bordered">
          <tr>
            <td>Name</td>
            <td>
              <input type="text" formControlName="Name" class="form-control" placeholder="Name">
            </td>
          </tr>
          <tr>
            <td>Email</td>
            <td>
                <input type="text" formControlName="Email" class="form-control" placeholder="Email">
            </td>
          </tr>
          <tr>
            <td>Phone</td>
            <td> 
                <input type="text" formControlName="Phone" class="form-control" placeholder="Phone">
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
                <button type="button" class="btn btn-success" (click)="Save()">Success</button>
            </td>
          </tr>
        </table>
      </form>
      </div>
    </div>

  </div>
  <div class="col-md-6">
      <div class="card">
          <div class="card-header">
            Read
            <button type="button" class="btn btn-warning" (click)="GelAllStudents()">Get All Records</button>
          </div>
          <div class="card-body">
              
            <table class="table table-bordered table-hover">
              <tr *ngFor="let rec of allStudents">
                <td>{{rec.Id}}</td>
                <td>{{rec.Name}}</td>
                <td>{{rec.Email}}</td>
                <td>{{rec.Phone}}</td>
                <td>
                    <button type="button" class="btn btn-success btn-sm" (click)="GetSelectedStudents(rec)">Select</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
    
  </div>
</div>
<div class="row">
  <div class="col-md-6">
      <div class="card">
          <div class="card-header">
            Update
          </div>
          <div class="card-body">
            <form [formGroup]="updateForm">
            <table class="table table-bordered">
              <tr>
                <td>Name</td>
                <td>
                  <input type="text" formControlName="Name" class="form-control" placeholder="Name">
                </td>
              </tr>
              <tr>
                <td>Email</td>
                <td>
                    <input type="text" formControlName="Email" class="form-control" placeholder="Email">
                </td>
              </tr>
              <tr>
                <td>Phone</td>
                <td> 
                    <input type="text" formControlName="Phone" class="form-control" placeholder="Phone">
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                    <button type="button" class="btn btn-info" (click)="Update()">Update</button>
                </td>
              </tr>
            </table>
          </form>
          </div>
        </div>
    
  </div>
  <div class="col-md-6">
      <div class="card">
          <div class="card-header">
            Delete
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <tr>
                <td>Id</td>
                <td>
                  <input type="text" readonly [(ngModel)]="idValue" class="form-control" placeholder="Name">
                </td>
              </tr>
              
              <tr>
                <td></td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="Delete()">Delete</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
    
  </div>
</div>

<router-outlet></router-outlet>
